body { 
  background: url(https://steamuserimages-a.akamaihd.net/ugc/521625973730267924/34F2CB597DDEFCA1A8CB2540697B96350900F7B2/) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}